# config files
# so that maintainers can freely edit it without anyone knowing
# while still providing some defaults
*.cfg
!build.default.cfg

# produced by make
build/
test-*-dd
test-*-dr
test-*-sd
test-*-sr

dist-*/
escape-*.tar*

# clangd related
.cache/


## From Github template : https://github.com/github/gitignore/blob/main/C.gitignore
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

